/*
    Contains CSS that is used for formatting the demo.html
    These styles donot affect the acrylic effect
*/

body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }

  .cards {
    height: 70vh;
    margin-top: 15vh;
    width: 60vw;
    margin-left: 20vw;
  }