/*
    Contains CSS that is used for formatting the demo.html
    These styles donot affect the acrylic effect
*/

body {
    margin: 0; /* To avoid scroll bars in page */
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
  }
  
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    height: 100vh;
  }

.cards{
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2), 0 1px 8px rgba(0, 0, 0, 0.4);
    padding: 4em 6em;
}